.marquee {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --item-font-size: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 30s linear infinite;
}

.marquee span {
  white-space: nowrap;
  font-size: 2.9vw;
  padding: 0 1vw;
  font-weight: 700;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.marquee img {
  width: 45px;
  height: 45px;
}
